@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* .btn-primaryという独自のクラスを定義 */
  .unGrade {
    /* Tailwindのユーティリティを@applyで適用 */
    @apply text-[#2D9CDB];
  }

   .graded {
    /* Tailwindのユーティリティを@applyで適用 */
    @apply text-[#FB285E];
  }

}